<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/error.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <title>Error</title>
</head>

<body class="body">

    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">CoolJourney</h1>
        </div>
    </div>
    <div class="main">
        <h4>Hola, {{user.email}}!</h4>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">CoolJourney</h1>
        </div>
    </div>
    {{/if}}

    <div class="main__container">
        <div class="main__error">
            <h2 class="main__text">Ha ocurrido un error!!</h2>
            <p class="main__text">{{error}}</p>
        </div>
        <button class="main__button"><a class="main__link" href="/">Volver a inicio</a></button>
    </div>

</body>

</html>