<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/create.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <title>Crear Viaje</title>
</head>

<body class="body">
    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <h4 class="navbar__user">Hola, {{user.email}}!</h4>
            <form class="navbar__form--position" action="/auth/logout" method="POST">
                <button class="nabvar__button--user" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
            <a class="navbar__links" href="/manage">Perfil</a>
            <a class="navbar__links" href="/manage/cart"><img class="nabvar__cart"
                    src='https://icon-library.com/images/shopping-cart-icon-white/shopping-cart-icon-white-29.jpg'
                    alt="cart"></a>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <a class="nabvar__button" href="/auth/login">Acceder</a>
            <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
        </div>
    </div>
    {{/if}}
    {{#if message}}
    <div class="main">
        <p>{{message}}</p>
    </div>
    {{/if}}


   {{#if user}}
    <div class="container">
        <h1 class="container__title">Modificar Viaje</h1>
        <div class="container__form">
            <form class="container__form-features" action="/manage/edit/{{travelDetails.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                <label class="container__form-label" for="title">Título</label>
                <input class="container__form-input" type="text" id="title" name="title"
                    value="{{travelDetails.title}}">

                <label class="container__form-label" for="description">Descripción</label>
                <input class="container__form-input" name="description" id="description" height="48"
                    value="{{travelDetails.description}}">

                <label class="container__form-label" for="country">Pais</label>
                <input class="container__form-input" type="text" id="country" name="country"
                    value="{{travelDetails.country}}">

                <label class="container__form-label" for="price">Precio</label>
                <input class="container__form-input" type="number" id="price" name="price"
                    value="{{travelDetails.price}}">


                <label for="avatar">Image</label>
                <input type="file" id="avatar" name="avatar">
        </div>

        <button class="container__form-button" type="submit">ENVIAR</button>
        </form>

        {{#if error}}
        <div class="container__form-error">
            {{error}}
        </div>
        {{/if}}
    </div>

    </div>
    {{else}}
    <div class="container">
        <div class="container__user">
            <p>¡Necesitas ser administrador para crear viajes!</p>
        </div>
        {{/if}}
        {{#if message}}
        <p class="container__form-error">{{message}}</p>
        {{/if}}
    </div>

</body>


</html>