<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/profile.css">

    <link rel="stylesheet" href="/styles/navbar.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <title>CoolJourney - Main Page</title>
</head>

<body class="body">
    {{#if isAdmin}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <h4 class="navbar__user">Hola, {{user.email}}!</h4>
            <form class="navbar__form--position" action="/auth/logout" method="POST">
                <button class="nabvar__button--user" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
            <a class="navbar__links" href="/manage">Perfil</a>
            <a class="navbar__links" href="/destination/create">Crea un viaje</a>
            <a class="navbar__links" href="/manage/cart"><img class="nabvar__cart"
                    src='https://icon-library.com/images/shopping-cart-icon-white/shopping-cart-icon-white-29.jpg'
                    alt="cart"></a>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <h4 class="navbar__user">Hola, {{user.email}}!</h4>
            <form class="navbar__form--position" action="/auth/logout" method="POST">
                <button class="nabvar__button--user" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
            <a class="navbar__links" href="/manage">Perfil</a>
            <a class="navbar__links" href="/manage/cart"><img class="nabvar__cart"
                    src='https://icon-library.com/images/shopping-cart-icon-white/shopping-cart-icon-white-29.jpg'
                    alt="cart"></a>
        </div>
    </div>
    {{/if}}
    {{#if message}}
    <div class="main">
        <p>{{message}}</p>
    </div>
    {{/if}}


    {{#if isAdmin}}
    <div class="container">
        <div class="container__offers">
            <div>
                <ul class="container__ul">
                    {{#each travels}}
                    <li class="container__travels">
                        {{#if image}}
                        <img class="form-img" src="{{image}}">
                        {{/if}}
                        <h3 class="container__main">{{title}}</h3>
                        {{!-- <p>Creada: {{createdAt}}</p> --}}
                        <p class="container__main">{{description}}</p>
                        <p class="container__main"> <strong>País:</strong>{{country}}</p>
                        <p class="container__main"><strong>Precio</strong> {{price}} €</p>
                        </p>
                        <form action="/manage/modify/{{_id}}" method="GET">
                            <button class="container__form" type="submit">Modificar viaje</button>
                        </form>
                        <form action="/manage/delete/{{_id}}?_method=DELETE" method="POST">
                            <button class="container__form" type="submit"> Eliminar viaje</button>
                        </form>
                    </li>
                    {{/each}}
                    {{#if error}}
                    <div class="container__form-error">
                        {{error}}
                    </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container__modify">
        <h1>Tus Favoritos</h1>
        <div class="container__offers">
            <div>
                <ul class="container__ul">
                    {{#each travels}}
                    <li class="container__travels">
                        {{#if image}}
                        <img class="form-img" src="{{image}}">
                        {{/if}}
                        <h3 class="container__main">{{title}}</h3>
                        {{!-- <p>Creada: {{createdAt}}</p> --}}
                        <p class="container__main">{{description}}</p>
                        <p class="container__main"> <strong>País:</strong>{{country}}</p>
                        <p class="container__main"><strong>Precio</strong> {{price}} €</p>
                        </p>
                        <form action="/manage/cart/{{user.id}}?_method=PUT" method="POST">
                            <input type="hidden" id="travelId" name="travelId" value="{{travelDetails.id}}">
                            <button class="container__form" type="submit"> Añadir al carrito</button>
                        </form>
                    </li>
                    {{/each}}
                    {{#if error}}
                    <div class="container__form-error">
                        {{error}}
                    </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{/if}}


</body>


</html>