<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/travels.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <title>Viajes</title>
</head>

<body class="body">

    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <h4 class="navbar__user">Hola, {{user.email}}!</h4>
            <form class="navbar__form--position" action="/auth/logout" method="POST">
                <button class="nabvar__button--user" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
            <a class="navbar__links" href="/manage">Perfil</a>
            <a class="navbar__links" href="/manage/cart"><img class="nabvar__cart"
                    src='https://icon-library.com/images/shopping-cart-icon-white/shopping-cart-icon-white-29.jpg'
                    alt="cart"></a>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1><a class="navbar__logo" href="/">CoolJourney</a></h1>
        </div>
        <div class="navbar__form">
            <a class="nabvar__button" href="/auth/login">Acceder</a>
            <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    <div class="navbar__second">
        <div class="navbar__center">
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/destination/travels">Viajes</a>
        </div>
    </div>
    {{/if}}
    {{#if message}}
    <div class="main">
        <p>{{message}}</p>
    </div>
    {{/if}}

    <div class="container">
        <h1 class="container__title">Viajes</h1>
        <div class="container__offers">
            <ul class="container__ul">
                {{#each travel }}
                <div class="container__travels">
                    <li class="container__list">
                        {{#if image}}
                        <img class="form-img" src="{{image}}">
                        {{/if}}
                        <h3 class="container__main">{{title}}</h3>
                        <p class="container__main">{{description}}</p>
                        <p class="container__main"><strong>Precio</strong> {{price}} €</p>
                        <form action="/destination/travel/{{_id}}" method="GET">
                            <button class="container__form" type="submit">Ver viaje</button>
                        </form>
                    </li>
                </div>
                {{/each}}
            </ul>
        </div>
          {{#if error}}
        <div class="container__form-error">
            {{error}}
        </div>
        {{/if}}
    </div>
</body>

</html>