.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__title {
    color: white;
  }
  .container__offers {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .container__ul {
      padding-left: 0;
      margin-top: 0;
    }
  .container__travels {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 1px solid lightgray;
    background-color: white;
  }
  .form-img {
    width: 180px;
  }
  .container__form{
    background-color: rgb(37, 109, 177);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }

  .container__main {
    margin: 12px;
  }
  .container__offer {
    width: 70%;
  }
  
.main {
  width: 100%;
  height: 40px;
  background-color: rgb(46, 42, 42);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: white;
}