
  .container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__form {
    width: 40%;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container__title {
    color: lightgrey;
  }

  .container__form-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
  }
  .container__form-label {
    font-weight: bold;
    color: rgb(56, 54, 54);
}
.container__form-input {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.container__form-button {
    background-color: rgb(46, 42, 42);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}
.container__user {
  width: 40%;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__form-error {
  margin-top: 8px;
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.sss{
  height: 30px;
}
.container__modify {
  height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rebeccapurple;
}