
.body {
    background-color: rgb(37, 109, 177);
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .navbar__container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__logo {
    font-family: "Permanent Marker", cursive;
    color: rgb(46, 42, 42);
    padding-left: 50px;
  }
  .navbar__links {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
  }
  .main {
    width: 100%;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__container {
      width: 100%;
      min-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .main__error {
      width: 400px;
      height: auto;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
  }
  .main__text {
    margin: 5px;
    font-weight: bold;
  } 
  .main__button {
      padding: 8px;
      margin-top: 20px;
      background-color:  rgb(46, 42, 42);
      border: none;
      border-radius: 10px;
  }
  .main__link {
      color: white;
      text-decoration: none;
  }