.container {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.container__input {
  width: 700px;
  height: 40px;
}
.container__button {
  background-color: rgb(37, 109, 177);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}
.container__title {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: lighter;
}

.container__margin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  height: 60px;
  padding-top: 12px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgb(46, 42, 42);
}
.container_last {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(46, 42, 42);
  font-family: 'Goudy Bookletter 1911', serif;
}
.container__offers {
  width: 80%;
  margin-top: 150px;
  background-color: white;
  border-radius: 15px;
}
.container__travels {
  width: 23%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid lightgray;
  background-color: white;
}
.container__ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.form-img {
  width: 100%;
}
.container__form{
  background-color: rgb(37, 109, 177);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container__list {
  font-family: 'Goudy Bookletter 1911', serif;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__main {
  margin: 15px;
}