.body {
  margin: 0 auto;
  background-image: url('https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
}
.navbar__container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar__logo {
  font-family: 'Pacifico', cursive;
  color: rgb(46, 42, 42);
  padding-left: 50px;
}
.navbar__second {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__center {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(46, 42, 42);
}
.navbar__links {
  text-decoration: none;
  color: white;
  font-family: 'Pacifico', cursive;
}
.nabvar__cart {
  width: 20px;
  height: auto;
}
.nabvar__button--user {
  background: transparent;
  color: black;
  border: 1px solid black;
  margin-right: 40px;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  margin: 20px 10px 10px 10px;
  cursor: pointer;
}
.nabvar__button {
  background: transparent;
  color: black;
  border: 1px solid black;
  margin-right: 40px;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}
.navbar__user {
  color: rgb(46, 42, 42);
  font-family: 'Pacifico', cursive;
}
