  .container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__form {
    width: 400px;
    height: 320px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__form-title {
    color: gray;
    font-weight: lighter;
  }
  .container__form-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__form-label {
    font-weight: bold;
    color: rgb(56, 54, 54);
  }
  .container__form-input {
    margin-bottom: 20px;
    height: 30px;
    margin-top: 5px;
  }
  .container__form-button {
    background-color: rgb(37, 109, 177);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  .container__form-error {
    margin-top: 8px;
    color: red;
    font-weight: bold;
    font-size: 16px;
  }
  