.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__title {
    color: white;
  }
  .container__offers {
    width: 95%;
    background-color: rebeccapurple;
  }
  .container__travels {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 1px solid lightgray;
    background-color: white;
  }
  .form-img {
    width: 350px;
  }
  .container__form{
    background-color: rgb(37, 109, 177);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }

  .container__main {
    margin: 12px;
  }
  .container__offer {
    width: 70%;
  }