  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__title {
    color: white;
  }
  .container__offers {
    width: 90%;
    background-color: white;
  }
  .container__travels {
    width: 23%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 20px;
  }
  .container__ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
  .form-img {
    width: 100%;
  }
  .container__form{
    background-color: rgb(37, 109, 177);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .container__list {
    font-family: 'Goudy Bookletter 1911', serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__main {
    margin: 12px;
  }
  .container__offer {
    width: 70%;
  }